.git
.github
.idea
.cache
.conda
.mypy_cache
.pytest_cache
.ruff_cache
.tox
.venv
.venv*
__pycache__
*.egg-info
*.log
*.py[cod]
*.zip
build
checkpoints
database
databases
dist
htmlcov
models
params
runs
uploads
user_uploads
wandb
.env
.env.*
.streamlit/secrets.toml
*.ckpt
*.onnx
*.pickle
*.pkl
*.pt
*.pth
*.safetensors
